.home-image-size {
    height: 92vh;
    width: 100vw;
    opacity: 1;
    filter: brightness(30%);
}

.carousel-caption {
    top: 0;
    padding-top: 10rem !important;
    font-family: "Roboto Serif", serif;
  }

  .carousel-text-alignment {
    margin: auto;
  }

.text-line-height {
  line-height: 2.0;
}

@media (max-width: 700px) {
    .home-image-size {
      height: 70vh;
    }
    .carousel-caption {
      top: 0;
      padding-top: 4rem !important;
    }
}