.order-summary-quantity {
    font-weight: bold;
    font-size: 20px;
}

.home-btn {
    width: 20%;
    min-width: 200px;
    justify-self: center;
    height: 60px;
    padding: 20px;
    text-align: center;
    background-color: lightgreen;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}