
.vision_container {
    background-color: ghostwhite;
}

.vision_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.vision_image_size {
    height: 100%;
    width: 100%;
    filter: brightness(100%);
}

.vision_text {
    width: 100%;
    padding: 10px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

@media (max-width: 700px) {
    .vision_image_size {
        height: 30vh;
        width: 90vw;
        filter: brightness(100%);
    }

    .vision_grid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }
}